{:deps {org.clojure/clojure {:mvn/version "1.12.0-alpha4"}
        io.github.nextjournal/clerk {:git/sha "0dae460df026080b1b3c923784af579ce7a6bc00"}
        io.github.nextjournal/garden-id {:git/sha "2fa84ac9166b784bc3665d360c54654b95417fe8"}}
 
 :aliases {:examples {:extra-paths ["examples/counter/src"]}}}
