{:deps {io.github.nextjournal/gluon {:git/sha "fbf20b9e01cb972686124690c8da8c242a6ac01b"}}
 :aliases {:nextjournal/garden {:exec-fn nextjournal.gluon/serve!
                                :exec-args {:ns example.counter}}}}
